/.vscode
Incopis_Front/wardrobe_manager/__pycache__/*.pyc
Incopis_Front/wardrobe_manager/migrations/__pycache__/*.pyc
Incopis_Front/geckodriver.log
*.coverage
Incopis_Front/wardrobe_manager/geckodriver.log
Incopis_Front/static_root/*
personal_wardrobe_frontend/node_modules/*
Incopis_Front/wardrobe_manager/static/wardrobe_manager/js/main.js
Incopis_Front/wardrobe_manager/static/wardrobe_manager/js/vendors~main.chunk.js
cashier_go_client/bin/*
cashier_go_client/pkg/*
*/requirements.txt
node_modules/*
